@font-face {
  font-family: 'WesternBangBang-Regular';
  src: url('fonts/WesternBangBang-Regular.ttf') format('truetype'),
       url('fonts/WesternBangBang-Regular.woff') format('woff'),
       url('fonts/WesternBangBang-Regular.woff2') format('woff2');
}


@media screen and (max-width: 768px) {
  .header {
    flex-direction: column;
  }
  .header-img {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center; /* center the text horizontally */
}

.header-img {
  height: 12vh; /* adjust the height based on the viewport height */
  margin-right: 15px;
}

.main-header {
  margin: 0; /* remove margin bottom */
  font-family: 'WesternBangBang-Regular';
  font-weight: normal;
  font-size: 8vw; /* adjust the font size based on the viewport width */
  color: #ffffff;
  text-align: center;
}
.subheader,h2 {
  margin: 0;
  font-family: 'WesternBangBang-Regular';
  font-weight: lighter;
  font-size: 3vw; /* adjust the font size based on the viewport width */
  color: #ffffff;
  text-align: center;
}

.subheader,h3 {
  margin: 0;
  margin-bottom: 1vh;
  font-family: 'WesternBangBang-Regular';
  font-weight: lighter;
  font-size: 1.5vw; /* adjust the font size based on the viewport width */
  color: #ffffff;
  text-align: center;
}


body {
    background-color: #000000;
}

.countdown-container {
    padding: 10px;
    position: absolute;
    top: 10px;
    right: 10px;
    transform: scale(0.6);
    transform-origin: right top;
}
  
.countdown-container h1 {
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
}
  
.countdown {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
  
.countdown-item {
    margin: 0 10px;
}
  
.countdown-value {
    font-size: 48px;
    font-weight: bold;
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
}
  
.countdown-label {
    font-size: 14px;
    margin-top: 5px;
    color: #ffffff;
    text-align: center;
}

  
  

  footer {
    background-color: #2b2b2b;
    color: #ffffff;
    font-size: 14px;
    padding: 20px;
    text-align: center;
  }
  
  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .footer-image img {
    border-radius: 50%; /* make image round */
    height: 60px;
    margin-right: 20px;
  }
  
  .footer-contact ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .footer-contact li {
    margin-bottom: 10px;
  }
  
  .footer-contact a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer-contact a:hover {
    text-decoration: underline;
  }
  
  

  
